<h2>You are very welcome to contact me</h2>

<%= flash[:notice] %>

<%= form_with(url:"/static_pages/thank_you", method: "post", local: true) do |form| %>
  <div class="container-fluid col-xs-12 col-sm-12 col-md-6 col-lg-4 col-md-offset-3 col-lg-offset-4">
    
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", placeholder: "Enter name" %>
    </div>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control", placeholder: "Enter email" %>
    </div>
    <div class="form-group">
      <%= form.label :message %>
      <%= form.text_area :message, class: "form-control", placeholder: "Enter message", rows: 5 %>
    </div>
    <div class="button-contactpage">
      <%= form.submit "Send", class: "form_label btn btn-default button-contactpage" %>
    </div>
  </div><!-- end container-fluid -->
  
<% end %>