<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="jumbotron" id="index-page-jumbotron">
    <div class="container welcome-text">
      <h1>Welcome to my blog</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row col-sm-12 col-md-8 col-lg-8 post-column">
  <% @posts.each do |post| %>
    <div class="post-title">
      <h2><%= post.title %></h2>
    </div>
    <%= image_tag(post.image_url, class:"img-responsive post-img") %>
    <div class="post-body">
      <p><%= post.subtitle %></p>
    </div>
    <div class="post-published-at">
      <p><%= post.created_at.to_date %></p>
    </div>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?' } %>
  <% end %>
  </div><!-- end row col-sm-12 col-md-8 col-lg-8-->
  <div class="row sidebar col-sm-12 col-md-4 col-lg-4">
    <h3>Recent posts</h3>
    <h3>Categories</h3>
  </div>
</div><!-- container -->

<br>

<%= link_to 'New Post', new_post_path %>
