<!DOCTYPE html>
<html>
<head>

  <title>Movelikeaswift</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Dosis|Acme|Titillium Web|Amaranth|Roboto|Josefin+Sans|Open+Sans|Open+Sans+Condensed:300" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <div class="page-wrap">

    <%= render 'shared/navigation_bar' %>

    <%= render 'shared/alerts' %>

    <%= yield %>

  </div><!-- end page-wrap -->

    <%= render 'shared/footer' %>

</body>
</html>
